<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
    <title>这里有房 - 实时推送，快人一步</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="assets/i/favicon.ico">
  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/app.css"/>
  <link rel="stylesheet" href="css/about.css"/>

</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="index.html">这里有房</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="/">首页</a></li>
        <li class="am-active"><a href="#">关于</a></li>
      </ul>
    </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">这里有房 - 实时推送，快人一步</h1>

      <p>
        一分钟了解 【这里有房】 工作原理
      </p>
    </div>
  </div>
</div>



<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">

      <div class="am-g">
        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12">
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除了一些大的中介、同城等专业租房APP之外，很多朋友也喜欢使用豆瓣、微博等社交平台来找房，上面转租和房东直租会稍微多一些，但是由于其分类或者发帖风格会比较混乱，所以也会给找房带来一些难度，“这里有房”就是为了解决这些痛点诞生的。系统会实时监控这些平台的招租信息，用户在设置关键字后，有合适的租房信息会在第一时间推送到用户邮箱（后期会增加微信或者其他形式的提醒）。不用再整天盯着手机，害怕错过合适的房子，让美好的生活主动找上你——房子是租来的，但是生活不是！</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站接入了QQ第三方登录，一切登录授权都是在QQ提供的登录界面上进行，我们不会记录您任何的账号和密码，您也不需要再针对本站注册一套账号密码，节省了时间成本，如果有需要，后期网站可能会加入微信授权登录。一切只为让您的生活更便利！</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这里有房是开源项目，如果您想查看源代码或者一起完善这个项目，请<a href="https://github.com/tomxin7/jiandan_house" target="_blank">点击这里</a>跳转到GitHub，可以的话，请给我加一颗小星星。关于我的更多个人项目，请查看：<a href="http://tomxin.cn/" target="_blank">http://tomxin.cn</a> ，网站数据来源互联网，如果侵犯到您的权益，请联系删除，祝您生活愉快。</p>
          <div align="center">
            <img src="http://qiniu.tomxin.cn/blog/20181203/EnTpbSO2nurr.png?imageslim">
            <div>运行原理图</div>
          </div>
          <div id="page" class="pagination"></div>

          <hr class="am-article-divider am-show-sm-only">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>这里有房|简单生活　　　　<span class="divider"></span><a style="color: #888888" href="http://www.miitbeian.gov.cn/" target="_blank">桂ICP备17008124号-3 </a></p>

</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
