<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
    <title>这里有房 - 实时推送，快人一步</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="{{url_for('static', filename='assets/i/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/amazeui.min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/app.css'}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/myPagination.css')}}">



</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="/">这里有房</a>
    </h1>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
        class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="collapse-head">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li><a href="/">首页</a></li>
        <!--<li class="am-active"><a href="#">个人中心</a></li>-->
      </ul>

      <div class="am-topbar-right">
        <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" onclick="logout()"><span class="am-icon-qq"></span> <span id="login_button"></span></button>
      </div>
    </div>
  </div>
</header>

<div class="get">
  <div class="am-g">
    <div class="am-u-lg-12">
      <h1 class="get-title">这里有房 - 实时推送，快人一步</h1>

      <p>
        亲爱的：<span id="user_name"></span>，欢迎登陆个人中心，在这里你可以管理自己正在执行的任务！
      </p>
    </div>
  </div>
</div>



<div class="about">
  <div class="am-g am-container">
    <div class="am-u-lg-12">

      <div class="am-g">
        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12">
            <table class="am-table am-table-bordered am-table-striped am-table-hover">
              <thead>
                <tr>
                  <th>城市</th>
                  <th>时间</th>
                  <th>关键字</th>
                  <th>邮箱/推送id</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody id="record">
                <!--<tr>-->
                  <!--<td>福州</td>-->
                  <!--<td>2012-10-01</td>-->
                  <!--<td>鼓楼区，晋安区</td>-->
                  <!--<td><button type="button" class="am-btn am-btn-default" disabled="disabled">已结束</button></td>-->
                <!--</tr>-->

                <!--<tr>-->
                  <!--<td>福州</td>-->
                  <!--<td>2012-10-01</td>-->
                  <!--<td>鼓楼区，晋安区</td>-->
                  <!--<td>-->
                    <!--<button type="button" class="am-btn am-btn-secondary am-btn-xs" id="doc-confirm-toggle">结束</button>-->
                  <!--</td>-->
                <!--</tr>-->
              </tbody>
            </table>
          <!--<ul class="am-pagination">-->
            <!--<li class="am-disabled"><a href="#">&laquo;</a></li>-->
            <!--<li class="am-active"><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">&raquo;</a></li>-->
          <!--</ul>-->
          <div id="page" class="pagination"></div>

          <hr class="am-article-divider am-show-sm-only">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <p>这里有房|简单生活　　　　<span class="divider"></span><a style="color: #888888" href="http://www.miitbeian.gov.cn/" target="_blank">桂ICP备17008124号-3 </a></p>

</footer>

<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<script src="assets/js/jquery.cookie.js"></script>-->
<!--<script src="assets/js/amazeui.min.js"></script>-->
<!--<script src="js/base.js"></script>-->
<!--<script src="js/tomxin.js"></script>-->
<!--<script src="js/myPagination.js"></script>-->
<!--<script src="js/user.js?v=2"></script>-->
<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jquery.cookie.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/amazeui.min.js')}}"></script>
<script src="{{url_for('static', filename='js/base.js')}}"></script>
<script src="{{url_for('static', filename='js/tomxin.js')}}"></script>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
